@import "styles/Mixins.scss";

.compose-modal {
  @include box-shadow;
  z-index: 9999;
  position: absolute;
  bottom: 0;
  right: 63px;
  width: 40vw;
  max-width: 550px;
  max-height: 600px;
  background: white;
  display: flex;
  flex-direction: column;

  &:not(.is-minimized) {
    width: 40vw;
    height: 70vh;
  }

  &.is-minimized {
    width: 20vw;
  }

  .header {
    background: #404040;
    border-radius: 8px 8px 0 0;
    padding: 7px 10px 7px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    span {
      color: white;
    }

    .icons-wrapper {
      display: flex;
      gap: 5px;

      svg {
        font-size: 1.1rem;
        color: lightgray;
        padding: 2px 1px;

        &:nth-child(2) {
          transform: rotate(20deg);
        }

        &:hover {
          background: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}