@import "styles/Mixins.scss";

.left-sidebar {
  .button-wrapper {
    padding: 16px 10px;
    background: white;

    button {
      background: white;
      width: fit-content;
      border-radius: 24px;
      padding-right: 30px;
      height: 48px;

      img {
        margin-right: 15px;
      }

      span {
        color: var(--text-color);
        font-weight: bold;
        font-size: 0.8rem;
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    background: white;
    height: 100%;

    .list-items-wrapper {
      padding: 0 8px;

      &.first-list {
        @extend %scrollbar;
        flex: 0.4;
        max-height: 385px;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 10px;
        }

        @media only screen and (min-width: 765px) {
          padding: 0 16px 0 8px;
          flex: 0.32;
        }
      }

      &.second-list {
        flex: 0.58;

        .header {
          margin: 10px 19px;
          font-weight: 500;
        }
      }

      .list-item {
        color: var(--text-color);
        border-radius: 0 16px 16px 0;
        padding: 0 19px;

        &.active {
          span {
            font-weight: bold;
          }

          &.first {
            background: #fce8e6;
            color: var(--red-color);
          }

          &:not(.first) {
            background: #e8eaed;
          }
        }

        .icon {
          margin-right: 18px;
        }

        span {
          @include overflow-handler(180px);
        }
      }
    }

    hr {
      margin: 5px 0;
    }
  }
}