@import "styles/Mixins.scss";

.emails-footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;

  .tabs {
    background: white;

    button {
      &.is-active {
        color: var(--red-color);
      }

      &:not(.is-active) {
        color: var(--text-color);
      }
    }
  }

  .compose-button {
    @extend %blue-button;
    width: 98%;
    margin: 0 auto;
  }
}
