@import "styles/Mixins.scss";

.emails-footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;

  .tabs {
    @extend %tabs;

    button {
      &.active {
        color: var(--red-color);
      }

      &:not(.active) {
        color: var(--text-secondary-color);
      }
    }
  }

  .compose-button {
    @extend %blue-button;
    width: 98%;
    margin: 0 auto;
  }
}
