@import "styles/Mixins.scss";

.tabs-row {
  background: white !important;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  button {
    padding: 0;

    &:nth-child(1) {
      color: var(--red-color);
    }

    &:not(:nth-child(1)) {
      color: var(--text-color);
    }

    div {
      padding: 12px 14px;
      gap: 10px;
    }
  }
}