.main {
  display: flex;
  height: 100vh;

  .left-sidebar {
    flex: 0.18;
  }

  .emails-wrapper {
    flex: 0.82;
  }

  @media only screen and (max-width: 765px) {
    .emails-wrapper {
      flex: 1;

      .emails-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
  }
}