@import "styles/Mixins.scss";

@mixin mobile-padding {
  padding: 10px 16px;
}

.emails-wrapper {
  display: flex;
  flex-direction: column;
  background: white;

  .scroll-area {
    @include scrollbar;
    flex: 0.75;
    overflow-y: auto;
  }
}